* {
    margin: 0;
padding: 0;
  box-sizing: border-box;
}

body{
    width: 100%;
    height: 100%;
}

.gallery{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    list-style: none;
}
.gallery-item{
    width: 32%; 
    overflow: hidden;
   
}
.gallery-image {
  display: block;
  width: 100%;      
  height: 250px;   
  object-fit: cover;
}





/* body {
  margin: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
}

 .gallery-image {
  width: 32%;
  
  overflow: hidden;
} 

.gallery.list {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  list-style: none;
  
} */